* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: cursive
}

body {
    background-color: #383838;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('../Imagenes/fondo1.jpg.jpg');
}

.inner {
    padding: 80px 20px;
}

div#container {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(217, 125, 148, 0.26);
    display: flex;
    justify-content: center;
    align-items: center;
}

div#container section {
    display: flex;
    justify-content: space-between;
    width: 85%;
    max-width: 960px;
    margin: 30px 0;
    background-color: rgba(255, 230, 230, 0.151);
    border-radius: 30px;
    overflow: hidden;
    backdrop-filter: blur(5px);
    text-align: center;
    box-shadow: 0 2px 5px 0 #ffe6e6;
}

div#container section article {
    width: 45%;
    background-color: #f58da7;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#container section article h1 {
    font-size: 60px;
    font-weight: 700;
    color: #c05570;
}

div#container section aside {
    width: 55%;
}

div#container section aside h2 {
    font-size: 40px;
    color: #c05570;
    font-weight: 700;
}

div#container section aside p {
    font-size: 20px;
    color: #fff;
}

nav#socialLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

nav#socialLogin a {
    width: 50px;
    height: 50px;
    background-color: #fff;
    margin: 0 10px;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    box-shadow: 0 2px 5px 0 #454545;
}

nav#socialLogin a.google {
    background-image: url("../Imagenes/google-icon.jpg");
}

nav#socialLogin a.facebook {
    background-image: url("../Imagenes/facebook-icons.jpg");
    background-size: 70%;
}

nav#socialLogin a.twitter {
    background-image: url("../Imagenes/twitter-icono.jpg");
    background-size: 65%;
}

form {
    width: 90%;
    max-width: 350px;
    margin: 30px auto 0 auto;
}

form input[type=text],
form input[type=email],
form input[type=password] {
    width: calc(100% - 55px);
    border: none;
    padding: 10px 15px 8px 40px;
    margin: 8px 0;
    font-size: 18px;
    border-radius: 20px;
    background-position: 4% 50%;
    background-repeat: no-repeat;
    background-size: 18px;
}

form input[type=text] {
    background-image: url('assets/icons/user.svg');
}

form input[type=email] {
    background-image: url('assets/icons/email.svg');
}

form input[type=password] {
    background-image: url('assets/icons/password.svg');
}

form button[type=submit] {
    margin-top: 20px;
    border: none;
    background-color: #f58da7;
    color: #c05570;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 25px;
    transition: 0.2s all ease;
    box-shadow: 0 2px 5px 0 #ffe6e6;
}

form button[type=submit]:hover {
    background-color: #f58da7;
    color: #c05570;
}

@media(max-width: 760px) {
    div#container section {
        flex-flow: column;
    }
    div#container section article,
    div#container section aside {
        width: 100%;
    }
}

#nosotro {
    text-align: center;
}

#nosotro img {
    height: 20%;
    width: 20%;
    border-radius: 100%;
}

#nosotro h2 {
    font-size: 60px;
    text-shadow: 0 0 10px #f58da7;
    letter-spacing: 6px;
    color: #fff;
}

#nosotro p {
    font-size: 20px;
    text-shadow: 6px 6px 10px #f58da7;
    color: #fff;
}

#equipo {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #ffe6e6;
}

#equipo h2 {
    font-size: 60px;
    text-shadow: 0 0 10px #f58da7;
    letter-spacing: 6px;
    color: #fff;
}

.car {
    position: relative;
    width: 300px;
    height: 400px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
    margin: 15px 20px;
}

.car:hover {
    box-shadow: 0 5 15px rgba(245, 141, 167, 0.747);
    transform: translateY(-15px);
}

.car .head {
    height: 125px;
    width: 100%;
    position: relative;
}

.car .head .circle {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #f58da7;
    bottom: 0;
}

.car .head .imagen {
    width: 150px;
    height: 150px;
    position: absolute;
    background: #ffe6e6;
    padding: 5px;
    border-radius: 50%;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%)
}

.car .head .imagen img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.car .descripcion {
    height: 200px;
    padding: 40px 20px 20px 20px;
    border-bottom: solid 1px rgba(6, 74, 76, .18);
    text-align: center;
}

.car .descripcion h3 {
    color: #c05570;
}

.car .descripcion h4 {
    color: #b4425f;
}

.car .descripcion p {
    margin-top: 20px;
    font-size: 11.5px;
    color: #f58da7;
}

.car .contacto {
    text-align: center;
}

.car .contacto ul {
    list-style: none;
    position: relative;
    display: inline-block;
}

.car .contacto ul .text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #f58da7;
    color: #eee;
    line-height: 50px;
    border-radius: 50px;
    font-size: 22px;
    text-align: center;
    pointer-events: none;
    font-family: cursive;
    transition: opacity .5s .75s ease-out;
}

.car .contacto ul:hover .text {
    opacity: 0;
    transition: opacity .5s .125s ease-out;
}

.car .contacto ul li {
    display: inline-block;
    height: 50px;
    width: 50px;
    background: #f58da7;
    line-height: 55px;
    text-align: center;
    margin: 0 -16px;
    cursor: pointer;
    border-radius: 0px;
    transition: background-color .5s ease-out, border-radius .5s .25s ease-out, margin .5s .25s ease-out;
}

.car .contacto ul li:hover {
    background: #c05570;
}

.car .contacto ul li i {
    color: #eee;
    font-size: 22px;
    opacity: 0;
    transition: opacity 1.7s;
}

.car .contacto ul:hover li i {
    opacity: 1;
}

.car .contacto ul li:nth-child(1) {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.car .contacto ul li:nth-child(3) {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.car .contacto ul:hover li {
    border-radius: 50px;
    margin: 0 3px;
}

.volver {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
    background: #ffe6e6;
    color: #f58da7;
    /* Rosado oscuro */
    text-decoration: none;
}

.volver:hover {
    text-decoration: underline;
    color: #993e55;
    /* Color al pasar el mouse */
}