body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fef7f4; /* Beige claro */
    color: #333;
}

.historia {
    background-color: #ffe6e6; /* Rosado claro */
    padding: 40px;
    border-radius: 8px;
    max-width: 900px;
    margin: 40px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.historia h1 {
    font-size: 2.5em;
    color: #b35c5c; /* Rosado oscuro */
    margin-bottom: 20px;
    text-align: center;
}

.historia h2 {
    font-size: 1.5em;
    color: #b35c5c; /* Rosado oscuro */
    margin-bottom: 20px;
    text-align: center;
}

.historia p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: justify;
}

.volver {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    color: #b35c5c; /* Rosado oscuro */
    text-decoration: none;
}

.volver:hover {
    text-decoration: underline;
    color: #ff7b7b; /* Color al pasar el mouse */
}

/* Contenedor general para las secciones de imagen y texto */
.imagen-texto, .imagen-texto-reversa {
    display: flex;
    align-items: center; /* Alinea la imagen y el texto verticalmente */
    margin-top: 30px;
    justify-content: flex-start; /* Alinea la imagen y el texto al inicio */
}

/* Estilo para la imagen */
.imagen-texto .imagen, .imagen-texto-reversa .imagen {
    width: 300px; /* Ancho de la imagen */
    height: 280px; /* Establece una altura mayor para las imágenes */
    object-fit: cover; /* Mantiene la proporción de la imagen */
    animation: mover 3s ease-in-out infinite;
    border-radius: 8px; /* Bordes redondeados para las imágenes */
}

/* Estilo específico para la segunda imagen (Damián Betular) */
.imagen-texto-reversa .imagen {
    border: 5px solid white; /* Borde blanco solo para la segunda imagen */
}

/* Estilo para el texto al lado de la imagen */
.texto {
    max-width: 600px;
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
    margin-left: 30px; /* Aumentado el espacio entre la imagen y el texto */
}

/* Movimiento de la imagen */
@keyframes mover {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0);
    }
}
