*{
margin:0;
padding:0;
}
#contenedor{
width:1200px;
margin: 0 auto;
}
#encabezado{
height:300px;
background:url(logo.png) no-repeat center top, url(fondo_logo.jpg);
}
#menu{
height:100px;
background:#000000 url();
}
#menu ul{
list-style: none;
}
#menu ul li{
float: left;
margin: 0 15px;
padding: 10px;

}
body {
background: #0000FF url(fondo.jpg) no-repeat ;
}
h1 {
color: #65EFF7;
text-align:center;
} 
#menu a{
color:#f4f4f4;
text-decoration:none;
}
#menu a:hover{
color: #06EBF0;
text-decoration:underline;
}
legend{
color:#D3F0FA
}
p{
color:#FFFFFF;
text-align:center;
} 
label{
color:#FFFFFF;
}
#contenido{
background-color: #f7cbed;
padding:20px;
}
p{color: #E6E6FA;
	   font: bold italic 15px sans-serif;

}
{background:#020069 url(estilos/azul.jpg);
}
#contenido h2{
color: #00ADFF;
}
#contenido a{
color:#f4f4f4;
text-decoration: none;
}
#contenido a:hover{
	color:#09E7EC;
text-decoration:underline;
}